doctype html
html
    head
        style
            include style.css
    body
        div.container
            header
                h1 Hi, client 😀!
            block content
            footer.footer
            | Best of the best
            br
            a(href=frontendUrl) OUR WEBSITE
